html, .row{
    background-color: #006572;
}

#add, #view-all{
    background-color: #102921;
    color: white;
}

#navbar {
    background-color: #C75E43;
}

#delete{
    color: #d11a2a;
}

.nav-item{
    background-color: #006572;
}

.nav-link {
    color: #fff;
}

td, tr {
    text-align: center;
}